@model System.Collections.Generic.IEnumerable<dynamic>

<p>Logged in as : @User.Identity.Name</p>
<img src="@(User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value)" />

<ul>
    @foreach(var org in Model)
    {
        <li>@org.id : @org.display_name</li>
    }
</ul>

@using (Html.BeginForm("Create", "OrganizationAdmin")) {
    @Html.Label("schemaName", "Schema name");
    @Html.TextBox("schemaName")
    @Html.Label("displayName", "Display name");
    @Html.TextBox("displayName")
    <input type="submit" value="create" />
}