@model System.Collections.Generic.IEnumerable<dynamic>

<p>Logged in as : @User.Identity.Name</p>
@foreach (var claim in User.Claims) {
    <pre>@claim.Type = @claim.Value</pre>
}
<img width="100" height="100" src="@(User.Claims.FirstOrDefault(c => c.Type == "picture")?.Value)" />

<ul>
    @foreach(var org in Model)
    {
        <li>@org.id : @org.display_name <a href="/@org.schema_name/ConversationHub">Conversations</a></li>
    }
</ul>

@using (Html.BeginForm("Create", "OrganizationAdmin")) {
    @Html.Label("schemaName", "Schema name");
    @Html.TextBox("schemaName")
    @Html.Label("displayName", "Display name");
    @Html.TextBox("displayName")
    <input type="submit" value="create" />
}