
@model Dto.ViewPresentationDto

<link rel="stylesheet" type="text/css" href="/styles/presentation.css">

<div id="presentation"></div>
<script src="/scripts/pdfjs/pdf.js"></script>
<script src="/scripts/signalr/signalr-client-1.0.0-alpha2-final.js"></script>
<script src="/scripts/presentations/presentation.js"></script>
<script>
    window.onload = function(){
        var isPresenter = @Model.IsPresenter.ToString().ToLower();
        var presentationId = @Model.PresentationId;
        var presentationKey = '@Model.ViewPresentationKey';
        var schema = '@Model.Schema';

        var options =  {
            url: '@Html.Raw(@Model.Url)',
            targetDiv: window.document.getElementById('presentation'),
            presentationName: '@Model.PresentationName',
            hasNextPrevious: isPresenter,
        }
        
        var pdfDocument = new PdfDocument(options);
        pdfDocument.renderToView();

        var presentation = new Presentation(pdfDocument,isPresenter,presentationKey,presentationId,schema);
        presentation.start();
    }
</script>